{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}

  {% assign is_about_page = false %}
  {% if page.url == "/" or page.url == "/about/" or page.permalink == "/" %}
    {% assign is_about_page = true %}
  {% endif %}

  <div class="sidebar sticky{% unless is_about_page %} sidebar--hide-mobile-profile-details{% endunless %}">
    {% if page.author_profile or layout.author_profile %}
      {% include author-profile.html %}
    {% endif %}

    {% if page.sidebar %}
      {% for s in page.sidebar %}
        {% if s.image %}
          {% if s.image contains "://" %}
            {% assign sidebar_image = s.image %}
          {% else %}
            {% assign sidebar_image = s.image | prepend: "/images/" | prepend: base_path %}
          {% endif %}

          <img src="{{ sidebar_image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
        {% endif %}

        {% if s.title %}
          <h3>{{ s.title }}</h3>
        {% endif %}

        {% if s.text %}
          {{ s.text | markdownify }}
        {% endif %}
      {% endfor %}

      {% if page.sidebar.nav %}
        {% include nav_list nav=page.sidebar.nav %}
      {% endif %}
    {% endif %}
  </div>

{% endif %}